.heading {
    display: flex;
    border: 2px solid orange;
    width: 100%;
    justify-content: space-between;
}

#heading-img > img{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-left: 10px;
}

.nav-list > ul{
    display: flex;
}

.nav-list > ul > li {
    padding: 5px;
    list-style: none;
    margin-right: 50px;
}
#log-btn{
    padding: 5px;
    width: 80px;
    list-style: none;
    margin-right: 50px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
#log-btn:hover{
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.body {
    margin-top: 5px;
    border: 2px solid orange;
}

.search {
    margin-top: 10px;
    display: flex;
    text-align: center;
    margin-left: 45%;
    padding: 10px 20px;
}
.search-bar{
    display: flex;
}
.search-button {
    margin-left: 5px;
    display: flex;
    text-align: center;
    border-radius: 10%;
    cursor: pointer;
    
    
}
#s-btn {    
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
#s-btn:hover {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.body-card{
    display: flex;
    flex-wrap: wrap;
    margin-left: 12%;
    
}
.card-comp {
    
    /* height: 350px; */
    width: 200px;
    margin: 5px;
    padding: 5px;
    background-color: azure;
    border-radius: 15%;
    
    
   
}
.card-comp:hover{
    border: 2px solid red;
    cursor: pointer;
}

.res-img > img {
    width: 100%;
    height: 185px;
    border-radius: 15%;
    
}
.card-desc {
    padding: 5px;
    text-decoration: none;
    color: inherit;
}


.fltr-btn {
    margin-left: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* border-radius: 10%; */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.fltr-btn:hover {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.shimmer-comp {
    display: flex;
    flex-wrap: wrap;
    
   
}

#shimmer-cd {
    height: 350px;
    width: 200px;
    margin: 5px;
    padding: 5px;
    background-color: #f0ffff;
    border-radius: 15%;
    background-size: 200% 100%;
    background: linear-gradient(90deg, #f0fff0 25%, #f0ffff 50%, #f0fff0 75%);
    
}

#link {
    text-decoration: none;
    color: inherit;
}

.team-card{
    display: inline-block;
    flex-wrap: wrap;
    padding: 5px;
    border: 1px solid orange;
    height: 150px;
    background-color: azure;
    border-radius: 15%;
}

.footer{
    margin-top: 5px;
    border: 2px solid orange;
}